apiVersion: v1
kind: ConfigMap
metadata:
  name: loki-datasource
  namespace: monitoring
data:
  loki-datasource.yaml: |
    apiVersion: 1
    
    datasources:
    - name: Loki
      type: loki
      access: proxy
      url: http://loki.logging.svc.cluster.local:3100
      isDefault: false
      editable: true
      jsonData:
        maxLines: 1000
        derivedFields:
          - name: "TraceID"
            matcherRegex: "trace_id=([A-Za-z0-9]+)"
            url: "http://jaeger.tracing.svc.cluster.local:16686/trace/$${__value.raw}"
            datasourceUid: "jaeger"
        httpHeaderName1: "X-Scope-OrgID"
      secureJsonData:
        httpHeaderValue1: "tenant1"