apiVersion: v1
kind: ConfigMap
metadata:
  name: postgres-config
  namespace: dev
data:
  POSTGRES_USER: ecommerce
  POSTGRES_DB: ecommerce_db
  POSTGRES_MULTIPLE_DATABASES: user_db,product_db,order_db,payment_db,shipping_db,favourite_db
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: postgres-initdb
  namespace: dev
data:
  init-databases.sh: |
    #!/bin/bash
    set -e
    psql -v ON_ERROR_STOP=1 --username "$POSTGRES_USER" --dbname "$POSTGRES_DB" <<-EOSQL
        CREATE DATABASE user_db;
        CREATE DATABASE product_db;
        CREATE DATABASE order_db;
        CREATE DATABASE payment_db;
        CREATE DATABASE shipping_db;
        CREATE DATABASE favourite_db;
        GRANT ALL PRIVILEGES ON DATABASE user_db TO $POSTGRES_USER;
        GRANT ALL PRIVILEGES ON DATABASE product_db TO $POSTGRES_USER;
        GRANT ALL PRIVILEGES ON DATABASE order_db TO $POSTGRES_USER;
        GRANT ALL PRIVILEGES ON DATABASE payment_db TO $POSTGRES_USER;
        GRANT ALL PRIVILEGES ON DATABASE shipping_db TO $POSTGRES_USER;
        GRANT ALL PRIVILEGES ON DATABASE favourite_db TO $POSTGRES_USER;
    EOSQL
---
apiVersion: v1
kind: Secret
metadata:
  name: postgres-secret
  namespace: dev
type: Opaque
data:
  POSTGRES_PASSWORD: ZWNvbW1lcmNlMTIz # ecommerce123 en base64
---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: postgres
  namespace: dev
spec:
  serviceName: postgres
  replicas: 1
  selector:
    matchLabels:
      app: postgres
  template:
    metadata:
      labels:
        app: postgres
    spec:
      containers:
      - name: postgres
        image: postgres:13-alpine
        ports:
        - containerPort: 5432
        envFrom:
        - configMapRef:
            name: postgres-config
        - secretRef:
            name: postgres-secret
        volumeMounts:
        - name: postgres-storage
          mountPath: /var/lib/postgresql/data
          subPath: postgres
        - name: initdb
          mountPath: /docker-entrypoint-initdb.d
        resources:
          requests:
            memory: "256Mi"
            cpu: "100m"
          limits:
            memory: "512Mi"
            cpu: "500m"
      volumes:
      - name: initdb
        configMap:
          name: postgres-initdb
  volumeClaimTemplates:
  - metadata:
      name: postgres-storage
    spec:
      accessModes: [ "ReadWriteOnce" ]
      resources:
        requests:
          storage: 5Gi
---
apiVersion: v1
kind: Service
metadata:
  name: postgres
  namespace: dev
spec:
  selector:
    app: postgres
  ports:
    - port: 5432
      targetPort: 5432
  clusterIP: None